.label {
  font-size: 0.8rem;
}

.tips {
  font-size: 0.7rem;
  color: rgb(134, 142, 150);
  margin-left: 0.5rem;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}
