.category {
  padding: 0 1rem;
  display: block;
  position: relative;
}


.title {
  font-weight: 700;
  font-size: 1.6rem;
}

.icons {
  display: inline-block;
  padding: 0 0.16rem;
  opacity: .15;
  &:hover {
    opacity: 1;
    transition: all 0.2s;
  }
}