.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
