.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.color {
  width: 1.5rem;
  height: 0.75rem;
  border-radius: 0.2rem;
  margin: 0.1rem;
  cursor: pointer;
}

.selected {
  display: flex;
  flex-direction: row;
}
